img {
  opacity: 1;
}

img:hover {
  opacity: 0.75;
}

.product-box {
background-color: lightseagreen;
}

body {
  background-color: grey;
  text-align: center;
  font-size: 30px;
}

h1 {

  color: darkslategrey;
  font-size: xxx-large;
}

h2 {
  color: darkgrey;
  font-size: x-large;
}

nav {
  color: mintcream;
  text-align: center;

}

main {
  color: mintcream;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightseagreen;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}