<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <link rel="stylesheet" href="/static/style.css">
    <title>osu.ppy</title>
</head>

<div class="container">


    <nav>
        <div class="navbar-brand">
            <h1 class="font-effect-fire">Smile Cafe</h1>
        </div>
        <div class="navbar-links">
            <a href="/">home</a> &#8226;
            <a href="/menu">menu</a> &#8226;
            <a href="/contact">contact</a>
        </div>
    </nav>
    <main>
        <br>
    </main>
</div>

<body>

</body>
</html>