<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <link rel="stylesheet" href="/static/style.css">
    <title>osu.ppy</title>
</head>

<div class="container">


    <header>
        <h1 class="font-effect-fire">S   i   t   e</h1>
        <h2>w e l c o m e</h2>
    </header>

    <nav>
       <a href="/">home</a> &#8226;
        <a href="/menu">menu</a> &#8226;
        <a href="/contact">contact</a>
    </nav>
    <main>
        <br>
        <-----some content----->
        <br>

    </main>
</div>

<body>

</body>
</html>