<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>osu.ppy</title>
</head>

<div class="container">

    <header>
    <h1>Site</h1>
    <h2>w e l c o m e</h2>
    </header>

    <nav>
        <a href="/Smile/templates/home.html">home</a> &#8226;
        <a href="/Smile/templates/menu.html">menu</a> &#8226;
        <a href="/Smile/templates/contact.html">contact</a>
    </nav>
    <main>
        <-----some content----->
    </main>
</div>
<script src="js/script.js"></script>
<body>

</body>
</html>