<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <link rel="stylesheet" href="/static/style.css">
    <title>osu.ppy</title>
</head>

<div class="container">

    <header>
    <h1 class="font-effect-fire">S   i   t   e</h1>
    <h2>menu</h2>
    </header>

    <nav>
       <a href="/">home</a> &#8226;
        <a href="/menu">menu</a> &#8226;
        <a href="/contact">contact</a>
    </nav>
    <main>
        <br>
        <-----some content----->
        <div class="product-container">
        {% for product in products %}
        <div class="product-box">
            <h3>{{ product[0] }}</h3>
            <p>{{ product[1] }}</p>
            <p><strong>Volume:</strong>{{ product[2] }}</p>
            <p><strong>price:</strong>${{ product[4] }}</p>
            <img src="https://lh3.googleusercontent.com/Xoiri9Tb7Rve0lrbRJlVZm1djE3IYnsH3LapVnfQHIwzZw1tNLn_FwnI0l01t-S-v7CgnSQtvfv5xlI=w1920-h969">
        </div>
        </div>
        {% endfor %}
    </main>

</div>

<body>

</body>
</html>